<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li class="custom-dropdown">
    <a routerLink="Library" class="dropbtn">Library</a>
    <div class="dropdown-content">
      <a>Categories</a>
      <a>Authors</a>
    </div>
  </li>
  <div *ngIf="(authService.currentUser$ | async) === null"> 
    <li style="float:right"><a routerLink="user/register" routerLinkActive="active" href="">Register</a></li>
    <li style="float:right"><a routerLink="user/login" routerLinkActive="active" href="">Log In</a></li>
  </div>
  <li *ngIf="authService.currentUser$ | async" style="float:right" class="custom-dropdown">
    <a href="javascript:void(0)" class="dropbtn">{{(authService.currentUser$ | async)?.email}}</a>
    <div class="dropdown-content">
      <a href="#" routerLink="account" routerLinkActive="active">Account Settings</a>
      <a href="#" type="button" (click)="logout()">Exit</a>
    </div>
  </li>
</ul>










